<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oasisdemo.data.AffiliationDisplay.AffiliationDisplayMapper">

    <select id="selectAllAffiliation" resultType="com.example.oasisdemo.vo.SimpleAffiliationVO">
        select * from affiliation
    </select>

    <select id="selectAffiliationByName" resultType="com.example.oasisdemo.vo.SimpleAffiliationVO">
        select * from affiliation as m where m.affiliation_name
        like concat('%',#{name},'%')
    </select>

    <select id="selectAffiliationById" resultType="com.example.oasisdemo.vo.SimpleAffiliationVO">
        select * from affiliation as m where m.affiliation_id=#{id}
    </select>

    <update id="updateHeat" >
        update affiliation as m set m.heat=#{heat}
        where m.affiliation_id = #{id}
    </update>

    <select id="selectAffiliationByHeat" resultType="com.example.oasisdemo.vo.SimpleAffiliationVO">
        select * from affiliation as m order by heat Desc limit 100
    </select>

    <select id="selectRelationByName" resultType="com.example.oasisdemo.vo.RelationVO">
        SELECT * FROM
        (SELECT * FROM authorrelations a WHERE a.a_affiliation!=a.b_affiliation) as b
        WHERE b.a_affiliation=#{name} or b.b_affiliation=#{name}
    </select>

    <resultMap id="SimpleAffiliationVO" type="com.example.oasisdemo.vo.SimpleAffiliationVO">
        <id column="affiliation_id" property="affiliation_id"></id>
        <result column="affiliation_name" property="affiliation_name"></result>
        <result column="country" property="country"></result>
        <result column="kindOfAff" property="kindOfAff"></result>
        <result column="heat" property="heat"></result>
    </resultMap>

    <resultMap id="RelationVO" type="com.example.oasisdemo.vo.RelationVO">
        <result column="a_name" property="a_name"></result>
        <result column="a_id" property="a_id"></result>
        <result column="a_affiliation" property="a_affiliation"></result>
        <result column="b_name" property="b_name"></result>
        <result column="b_id" property="b_id"></result>
        <result column="b_affiliation" property="b_affiliation"></result>
        <result column="relation" property="relation"></result>
        <result column="coworkpapers" property="coworkpapers"></result>
    </resultMap>

</mapper>