<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oasisdemo.data.DirectionDisplay.DirectionDisplayMapper">


    <select id="selectAllDirection" resultType="com.example.oasisdemo.vo.SimpleResearchDirectionVO">
        select * from researchdirection
    </select>

    <select id="selectDirectionByName" resultType="com.example.oasisdemo.vo.SimpleResearchDirectionVO">
        select * from researchdirection as m where m.DirectionName
                                                       like concat('%',#{name},'%')
    </select>

    <select id="selectDirectionById" resultType="com.example.oasisdemo.vo.SimpleResearchDirectionVO">
        select * from researchdirection as m where m.DirectionId=#{id}
    </select>


    <select id="selectDirectionByHeat" resultType="com.example.oasisdemo.vo.SimpleResearchDirectionVO">
        select * from researchdirection as m order by Heat Desc limit 100
    </select>

    <resultMap id="SimpleResearchDirectionVO" type="com.example.oasisdemo.vo.SimpleResearchDirectionVO">
        <id property="id" column="DirectionId"></id>
        <result property="name" column="DirectionName"></result>
        <result property="authorCount" column="AuthorCount"></result>
        <result property="affCount" column="AffCount"></result>
        <result property="docCount" column="DocCount"></result>
        <result property="heat" column="Heat"></result>
    </resultMap>
</mapper>