<!DOCTYPE html>
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no"/>
		<title>About SE</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/nav.css">
		<link rel="stylesheet" type="text/css" href="/css/footer.css">
		<link rel="stylesheet" type="text/css" href="/css/about.css"/>
	</head>
	
	<body>
		
		<nav class="navbar navbar-default navbar-inverse">
  			<div class="container">
    			<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true" aria-controls="navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">SE-Ⅲ</a>
    			</div>

   				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
			      <ul class="nav navbar-nav">
			        <li><a href="/index">Home </a></li>
			        <li><a href="/search">Search</a></li>
			        <li><a href="/browse">Browse</a></li>
				  	<li><a href="/visual">Visual</a></li>
				  	<li class="active"><a href="#">About</a><span class="sr-only">(current)</span></li>
			      </ul>
			      
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li>
			        	<a id="help-a" tabindex="0" data-placement="auto" data-trigger="focus" class="btn btn-lg" data-toggle="popover" data-content="Developed by SE-Ⅲ team." data-original-title="" title="">
			        		Help
			        	</a>
			        </li>
			      </ul>
			      
    			</div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
			<div class="text-center text-primary">
				<p>Welcome to Online graph system for academics!</p>
			</div>
		</nav>
		
		<div id="detail-se" class="container">
			<div class="content row">
				<div class="col-md-6">
					<div class="offence">
						<h2>NJU Software Engineering Institute</h2>
					</div>
					<p class="text-info"><a href="https://software.nju.edu.cn/"><abbr title="The Institute of Software Engineering of Nanjing University ">NJU SE</abbr></a> is a teaching and research engineering college affiliated to Nanjing University. It is the first batch of national-level model software colleges approved by the State Planning Commission and the Ministry of Education in 2002. The college now has a software engineering department, an information system engineering department, an embedded technology department, as well as a national Linux technology training and promotion center (Ministry of Education / Ministry of Science and Technology), and a national software talent international training (Nanjing) base (State Foreign Experts Affairs Bureau). </p>					
					<hr />
				</div>
				<div class="col-md-6">
					<img src="/img/njuse.jpg" alt="The Institute of Software Engineering of Nanjing University" />
				</div>
			</div>
		</div>
		
		<footer id="about-navbar" class="navbar">
			<div class="foot-nav">
				<div class="container">
					<div>
						<h3 class="text-center">Thirsty for overview of documents and authors?</h3>					
						<h4 class="text-center"><a href="/browse">browse</a> it!</h4>
						<br>
						<br>
						<p class="text-center">LICENSE BY NOBODY</p>
					</div>
					
				</div>
			</div>

			<div class="container foot-container">
				<div class="pull-left">
					<h4>NJU Software</h4>
				</div>
				<div class="pull-right">
					<a href="http://www.baidu.com">support</a>
					<span>License</span>
					<span>Contact Us</span>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="/js/jquery-1.10.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/nav.js"></script>
		
	

</body>
</html>