<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oasisdemo.data.AuthorDisplay.AuthorDisplayMapper">

    <select id="selectAuthorPapersById" resultMap="PaperVO">
        select * from documentinfo as t
        where t.author_id like concat(#{id},';%')
        or t.author_id like concat('%;',#{id},';%')
    </select>

    <select id="selectAuthorInfoById" resultMap="AuthorInfoVO">
        select t.author_id,t.author_name,t.affiliation,t.publish_count,t.heat,SUM(citing_count) AS citation from authorinfo_copy1_copy1 AS t,documentinfo AS m
        where t.author_id = #{id}
        AND (m.author_id LIKE CONCAT(#{id},';%')
        OR m.author_id LIKE CONCAT('%;',#{id},';%'))
    </select>

    <select id="selectAuthorTopicsById" resultType="String">
        select group_concat(terms separator '') as topics from documentinfo as t
        where t.author_id like concat(#{id},';%')
        or t.author_id like concat('%;',#{id},';%')
    </select>

    <select id="selectAuthorInfoByName" resultMap="AuthorInfoVO">
        select t.author_id,t.author_name,t.affiliation,t.publish_count,SUM(citing_count) AS citation from
        (SELECT * from authorinfo_copy1_copy1
         where author_name like CONCAT('%',#{name},'%')) t JOIN documentinfo AS m
        on (m.author_id LIKE CONCAT(t.author_id,';%')
        OR m.author_id LIKE CONCAT('%;',t.author_id,';%'))
        GROUP BY t.author_id
    </select>

    <select id="selectAuthorByPubCnt" resultMap="AuthorInfoVO">
        select t.author_name,t.affiliation,t.publish_count,t.heat,t.author_id from authorinfo_copy1_copy1 as t
        order by t.publish_count desc
        limit 10
    </select>

    <select id="selectAuthorByHeat" resultMap="AuthorInfoVO">
        select t.author_name,t.affiliation,t.publish_count,t.heat,t.author_id from authorinfo_copy1_copy1 as t
        order by t.heat desc
        limit 10
    </select>

    <select id="selectAuthorDirections" resultType="String">
        select t.author_keyword from authorinfo_copy1_copy1 as t
        where t.author_id = #{id}
    </select>

    <select id="selectCollaboratorById" resultMap="CollaboratorVO">
        select Bid as id,Bname as name,CoWorkTimes,CoWorkDocument as paperTitles,CoWorkDOI as paperDOIs from relation as t
        where t.Aid=#{id}
        union
        select Aid as id,Aname as name,CoWorkTimes,CoWorkDocument as paperTitles,CoWorkDOI as paperDOIs from relation as r
        where r.Bid=#{id}
    </select>

    <resultMap id="AuthorInfoVO" type="com.example.oasisdemo.vo.AuthorInfoVO">
        <result column="author_id" property="author_id"></result>
        <result column="author_name" property="author_name"></result>
        <result column="publish_count" property="author_paperCount"></result>
        <result column="citation" property="citation"></result>
        <result column="heat" property="heat"></result>
<!--        <result column="affiliation" property="affiliation"></result>-->
        <collection property="affiliation" ofType="java.lang.String" >
            <result column="affiliation"/>
        </collection>

    </resultMap>

    <resultMap id="PaperVO" type="com.example.oasisdemo.vo.PaperVO">
        <result column="doi" property="doi"></result>
        <result column="title" property="title"></result>
        <result column="citing_count" property="citation"></result>
    </resultMap>

    <resultMap id="CollaboratorVO" type="com.example.oasisdemo.vo.CollaboratorVO">
        <constructor>
            <arg column="id" javaType="java.lang.String" />
            <arg column="name" javaType="java.lang.String"/>
            <arg column="CoWorkTimes" javaType="java.lang.Integer"/>
            <arg column="paperTitles" javaType="java.lang.String"/>
            <arg column="paperDOIs" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

</mapper>
